export(combine)
export(create_svg_letter)
export(create_target_from_word)
export(dist_to_poly)
export(extract_paths_from_letter)
export(extract_paths_from_word)
export(find_inner_polygons)
export(get_box)
export(log_word_density)
export(plot_letter)
export(precomputed_shape_from_polygons)
export(shift_x)
export(shift_y)
useDynLib(RLetter)
