export(combine_polygons)
export(compute_ABC)
export(create_svg_letter)
export(create_target_from_shape)
export(create_target_from_word)
export(dist_points_to_poly)
export(extract_paths_from_letter)
export(extract_paths_from_svg)
export(extract_paths_from_word)
export(find_inner_polygons)
export(get_box_polygon)
export(log_shape_density)
export(log_word_density)
export(plot_paths)
export(shape_from_polygons)
export(shift_polygon_x)
export(shift_polygon_y)
useDynLib(RShapeTarget)
